{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profile</title>
     <link rel="stylesheet" href="{% static 'style/profile.css' %}">
</head>
<body>
   <div class="profile-container">
    <h2 class="profile-title">Doctor Profile</h2>
    <div class="profile-info">
        <p><strong>Name:</strong> {{ doctor.name }}</p>
        <p><strong>Age:</strong> {{ doctor.age }}</p>
        <p><strong>Specialty:</strong> {{ doctor.specialty }}</p>
        <p><strong>Patients:</strong></p>
        <ul>
            {% for patient in doctor.patient_set.all %}
                <li>{{ patient.name }} (Age: {{ patient.age }}, Disease: {{ patient.disease }}, Treated by: {{ patient.doctor.name }})</li>
            {% endfor %}
        </ul>
        <div class="add-patient">
            <h3 class="add-patient-title">Add New Patient</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="patient_name">Patient Name:</label>
                    <input type="text" id="patient_name" name="patient_name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="patient_age">Patient Age:</label>
                    <input type="number" id="patient_age" name="patient_age" placeholder="Enter age">
                </div>
                <div class="form-group">
                    <label for="disease">Disease:</label>
                    <input type="text" id="disease" name="disease" placeholder="Enter Disease">
                </div>
                <button type="submit">Add Patient</button>
            </form>
        </div>
        <div class="profile-actions">
            <a href="{% url 'edit_doctor' doctor.id %}">Edit Profile</a>
            <a href="{% url 'delete_doctor' doctor.id %}">Delete Profile</a>
        </div>
    </div>
</div>

</body>
</html>
