<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        /* Optional: Customize Tailwind CSS */
        /* Add any custom styles here */
    </style>
</head>
<body class="bg-purple-900 text-white">
    <div class="profile-container max-w-2xl mx-auto bg-purple-800 border border-purple-700 rounded-lg p-6 mt-8">
        <h2 class="text-2xl font-semibold mb-4">Doctor Profile</h2>
        <div class="profile-info">
            <p><strong>Name:</strong> {{ doctor.name }}</p>
            <p><strong>Age:</strong> {{ doctor.age }}</p>
            <p><strong>Specialty:</strong> {{ doctor.specialty }}</p>

            <a href="{% url 'edit_doctor' doctor.id %}" class="text-blue-300 mr-4">Редагувати профіль</a>
            <a href="{% url 'delete_doctor' doctor.id %}" class="text-red-300">Видалити профіль</a>
            <a href="{% url 'chat_list' %}" class="block mt-4 text-blue-300">Chats</a>
        </div>
    </div>

</body>
</html>
